{% extends 'blog/base.html' %}

{% block content %}
{% for post in posts %}
                <div class="post">
                    <h1><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h1>
                    <input type="checkbox" id="{{ post }}" class="del" /><label for="{{  post }}" class="del">Показать/Скрыть</label>
                    <p>{{ post.text|linebreaksbr }}</p>
                    <br>


                     <div class="date">
                        <p>Опубликовано: {{ post.published_date }}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="{% url 'post_detail' pk=post.pk %}">Комментарии: {{ post.approved_comments.count }}</a></p>

                    </div>
                    <hr>
                </div>
{% endfor %}
{% endblock %}


